* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to bottom, #a774d6, #e8afe3, #b79dd0);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.main {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.propiedades-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: small;
  justify-content: space-between;
}

.propiedades-header__menu {
  display: flex;
  align-items: flex-end;
}

.estilologo {
  display: flex;
  margin: 1px;
  animation-name: logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes logo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.menu-nav {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin-bottom: 0;
}

.menu-nav__enlaces {
  display: flex;
  margin: 10px;
  transition: all 1s;
}

.menu-nav__enlaces:hover {
  transform: scale(1.15);
}

.estilo-foooter {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 30px;
  width: 100%;
  max-height: 60px;
  min-height: 60px;
}

.estilo-foooter__enlaces {
  padding: 10px;
}

.estilo-index {
  width: 100%;
  padding: 0px;
}

.estilo-index__texto {
  text-align: center;
  color: #050f17;
  font-size: large;
  text-transform: uppercase;
  padding-top: 90px;
  height: 100%;
}

.estilo-index__imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.quienessomos {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.quienessomos__foto img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
  object-fit: cover;
  transition: all 1s;
}

.quienessomos__foto img:hover {
  content: url(../imagenes/roxaycynenlaplaya.jpg);
}

.quienessomos__titulos {
  text-transform: uppercase;
}

.quienessomos__texto {
  text-align: justify;
  padding-right: 3rem;
  padding-left: 3rem;
  color: #281803;
}

.formulario {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  text-align: center;
}

.formulario__especifico {
  width: auto;
  height: auto;
}

::placeholder {
  color: blueviolet;
}

.textarea {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.textarea1 {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.foto-panza {
  object-fit: cover;
}

.estilo-experiencias {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "img1 video video img2"  "img3 video video img4"  "img5 img6 img7 img8"  "img9 img10 img11 img12";
}

.estilo-experiencias__fotos {
  width: 300px;
  height: 300px;
  gap: 30px;
  margin: 5px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
}

.estilo-experiencias__video {
  gap: 30px;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.estilo-experiencias__video--1 {
  grid-area: video;
}

.estilo-experiencias__fotos--1 {
  grid-area: img1;
}

.estilo-experiencias__fotos--2 {
  grid-area: img2;
}

.estilo-experiencias__fotos--3 {
  grid-area: img3;
}

.estilo-experiencias__fotos--4 {
  grid-area: img4;
}

.estilo-experiencias__fotos--5 {
  grid-area: img5;
}

.estilo-experiencias__fotos--6 {
  grid-area: img6;
}

.estilo-experiencias__fotos--7 {
  grid-area: img7;
}

.estilo-experiencias__fotos--8 {
  grid-area: img8;
}

.estilo-experiencias__fotos--9 {
  grid-area: img9;
}

.estilo-experiencias__fotos--10 {
  grid-area: img10;
}

.estilo-experiencias__fotos--11 {
  grid-area: img11;
}

.estilo-experiencias__fotos--12 {
  grid-area: img12;
}

.estilo-propuestas {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  overflow: hidden;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 100%;
}

.estilo-propuestas__fotos {
  width: 350px;
  height: 350px;
  gap: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid white;
  transition: all 1s;
}

.estilo-propuestas__fotos:hover {
  transform: scale(1.15);
}

@media screen and (max-width: 1023px) {
  .estilo-index {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .estilo-index__texto {
    height: 350px;
    color: #050f17;
    font-size: medium;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 0;
    background-size: cover;
    line-height: normal;
  }
  .estilo-propuestas {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .formulario {
    display: flex;
    height: 450px;
    justify-content: center;
    text-align: center;
  }
  .textarea {
    height: 230px;
    width: 100%;
  }
  .estilo-experiencias {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "video video" "img1 img2" "img3 img4" "img5 img6" "img7 img8" "img9 img10" "img11 img12";
  }
  .estilo-experiencias__video--1 {
    grid-area: video;
  }
  .estilo-experiencias__fotos--1 {
    grid-area: img1;
  }
  .estilo-experiencias__fotos--2 {
    grid-area: img2;
  }
  .estilo-experiencias__fotos--3 {
    grid-area: img3;
  }
  .estilo-experiencias__fotos--4 {
    grid-area: img4;
  }
  .estilo-experiencias__fotos--5 {
    grid-area: img5;
  }
  .estilo-experiencias__fotos--6 {
    grid-area: img6;
  }
  .estilo-experiencias__fotos--7 {
    grid-area: img7;
  }
  .estilo-experiencias__fotos--8 {
    grid-area: img8;
  }
  .estilo-experiencias__fotos--9 {
    grid-area: img9;
  }
  .estilo-experiencias__fotos--10 {
    grid-area: img10;
  }
  .estilo-experiencias__fotos--11 {
    grid-area: img11;
  }
  .estilo-experiencias__fotos--12 {
    grid-area: img12;
  }
  .estilo-experiencias__fotos {
    width: 90%;
    margin: 0 auto;
  }
  .foto-panza {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .propiedades-header {
    height: 180px;
  }
  .menu-nav {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: normal;
    gap: auto;
    margin-top: 20px;
  }
  .estilologo {
    align-items: center;
    justify-content: center;
  }
  .estilo-index {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .estilo-index__texto {
    height: 400px;
    color: #050f17;
    font-size: large;
    text-transform: none;
    font-weight: normal;
    padding-top: 0px;
    background-size: cover;
    text-transform: uppercase;
    line-height: 1.5;
  }
  .titulo_sentires {
    font-weight: bolder;
  }
  .quienessomos__foto img {
    width: 250px;
    height: 250px;
  }
  .formulario {
    display: flex;
    height: auto;
    justify-content: center;
    text-align: center;
    background-image: none;
    margin-bottom: 1.5rem;
  }
  .formulario__especifico {
    text-transform: none;
  }
  .textarea {
    width: 100%;
    height: 230px;
  }
  .foto-panza {
    display: none;
  }
  .estilo-propuestas {
    width: auto;
    display: grid;
    border: none;
    grid-template-columns: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .estilo-propuestas__fotos {
    width: 90%;
    margin: 0 auto;
  }
  .estilo-experiencias {
    display: flex;
    flex-direction: column;
  }
  .estilo-experiencias__fotos {
    border-radius: 200rem;
  }
  .estilo-experiencias__fotos--1 {
    margin: 20px auto;
  }
  .estilo-experiencias__fotos--2 {
    margin: 20px auto;
  }
  .estilo-experiencias__fotos--3 {
    margin: 20px auto;
  }
  .estilo-experiencias__fotos--4 {
    margin: 20px auto;
  }
  .estilo-experienciasfotos--5 {
    margin: 20px auto;
  }
  .estilo-experiencias__fotos--6 {
    margin: 20px auto;
  }
  .estilo-experiencias__fotos--7 {
    margin: 20px auto;
  }
  .estilo-experiencias__fotos--8 {
    margin: 20px auto;
  }
  .estilo-experiencias__fotos--9 {
    margin: 20px auto;
  }
  .estilo-experiencias__fotos--10 {
    margin: 20px auto;
  }
  .estilo-experiencias__fotos--11 {
    margin: 20px auto;
  }
  .estilo-experiencias__fotos--12 {
    margin: 20px auto;
  }
}

@media (min-width: 1024px) and (max-width: 1180px) {
  .estilo-propuestas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
  }
  .estilo-index__texto {
    padding-top: 20px;
  }
  .estilo-experiencias {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "video video video" "img1 img2 img3" "img4 img5 img6" "img7 img8 img9" "img10 img11 img12";
  }
  .estilo-experiencias__video--1 {
    grid-area: video;
  }
  .estilo-experiencias__fotos--1 {
    grid-area: img1;
  }
  .estilo-experiencias__fotos--2 {
    grid-area: img2;
  }
  .estilo-experiencias__fotos--3 {
    grid-area: img3;
  }
  .estilo-experiencias__fotos--4 {
    grid-area: img4;
  }
  .estilo-experiencias__fotos--5 {
    grid-area: img5;
  }
  .estilo-experiencias__fotos--6 {
    grid-area: img6;
  }
  .estilo-experiencias__fotos--7 {
    grid-area: img7;
  }
  .estilo-experiencias__fotos--8 {
    grid-area: img8;
  }
  .estilo-experiencias__fotos--9 {
    grid-area: img9;
  }
  .estilo-experiencias__fotos--10 {
    grid-area: img10;
  }
  .estilo-experiencias__fotos--11 {
    grid-area: img11;
  }
  .estilo-experiencias__fotos--12 {
    grid-area: img12;
  }
  .estilo-experiencias__fotos {
    width: 90%;
    margin: 0 auto;
  }
}
