* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to bottom, #fa736a, #14a6a5);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

main {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.propiedades-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: small;
  justify-content: space-between;
}

.propiedades-header__menu {
  display: flex;
  align-items: flex-end;
}

.estilologo {
  display: flex;
  margin: 1px;
  animation-name: logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: 125px;
  height: 125px;
}

@keyframes logo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.logocentrado {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin-bottom: 0;
}

.menu-nav__enlaces {
  display: flex;
  margin: 10px;
  transition: all .5s;
}

.menu-nav__enlaces:hover {
  transform: scale(1.05);
}

.estilo-foooter {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 30px;
  width: 100%;
  max-height: 60px;
  min-height: 60px;
}

.estilo-foooter__enlaces {
  padding: 10px;
}

.estilo-foooter .iconos {
  width: 40px;
  height: 40px;
}

.estilo-index__texto {
  text-align: center;
  color: #311b07;
  font-size: large;
  padding-top: 90px;
}

.estilo-index__imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.quienessomos {
  text-align: center;
  padding: 1rem;
}

.quienessomos__titulos {
  text-transform: uppercase;
}

.quienessomos__texto {
  text-align: justify;
  margin: 20px 2px;
  padding: 10px;
  color: #311b07;
}

.presentaciones img {
  width: 350px;
  height: 350px;
  border-radius: 2rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.foto-panza {
  object-fit: cover;
  margin: 1rem;
}

.formulario {
  max-width: 50%;
  margin: 0 auto;
}

.carousel {
  max-width: 40% !important;
  max-height: 40% !important;
  margin: 0 auto;
}

.carousel-item {
  object-fit: cover;
}

.audio {
  text-align: center;
}

.exp {
  min-height: 65vh;
}

.nuevaspropuestas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  min-height: 65vh;
  margin: 1rem;
}

.tarjetitas {
  justify-content: center;
  position: relative;
  transition: all .3s;
}

.tarjetitas img {
  width: 90%;
  height: 90%;
  border-radius: 1rem;
  border: solid 2px white;
  margin: 1rem;
  position: absolute;
  z-index: 1;
  align-items: center;
}

.tarjetitas div {
  position: absolute;
  z-index: 2;
  padding: 15px 15px 0px;
  opacity: 0;
  margin: .2rem .5rem .1rem .5rem;
}

.tarjetitas div h4 {
  text-align: center;
}

.tarjetitas div p {
  text-align: center;
}

.tarjetitas:hover {
  transform: scale(1.05);
}

.tarjetitas:hover div {
  opacity: 1;
}

.tarjetitas:hover img {
  opacity: 15%;
}

.trabajos {
  min-height: 500px;
}

@media screen and (max-width: 1023px) {
  .estilo-index {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .estilo-index__texto {
    height: 350px;
    color: #050f17;
    font-size: medium;
    padding-top: 0;
    background-size: cover;
    line-height: normal;
  }
  .presentaciones {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
  }
  .nuevaspropuestas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 350px);
    min-height: 50vh;
  }
  .tarjetitas {
    margin: 5px 2px 5px 2px;
  }
  .tarjetitas img {
    width: 90%;
    height: 90%;
  }
  .tarjetitas div {
    margin: .5rem;
    text-align: center;
    padding: 1rem;
  }
  .carousel {
    max-width: 60% !important;
    max-height: 60% !important;
    margin: 0 auto;
  }
}


@media screen and (max-width: 599px) {
  .propiedades-header {
    height: 180px;
  }
  .menu-nav {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    line-height: normal;
    gap: auto;
    margin-top: 20px;
  }
  .estilologo {
    align-items: center;
    justify-content: center;
  }
  .estilo-index {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .estilo-index__texto {
    height: 400px;
    color: #050f17;
    font-size: large;
    font-weight: normal;
    padding-top: 0px;
    background-size: cover;
    line-height: 1.5;
  }
  .titulo_sentires {
    font-weight: bolder;
  }
  .quienessomos__foto img {
    width: 250px;
    height: 250px;
  }
  .formulario {
    max-width: 90%;
    margin: 0 auto;
  }
  .nuevaspropuestas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 350px);
    min-height: auto;
  }
  .tarjetitas {
    justify-content: center;
    align-content: center;
  }
  .tarjetitas img {
    justify-content: center;
    align-content: center;
  }
  .tarjetitas div {
    justify-content: center;
    align-content: center;
  }
  .exp {
    min-height: 70vh;
  }
  .carousel {
    max-width: 60% !important;
    max-height: 90% !important;
    margin: 0 auto;
  }
  .fotitos {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) and (max-width: 1180px) {
  .estilo-index__texto {
    padding-top: 20px;
  }
  .carousel {
    max-width: 60% !important;
    max-height: 60% !important;
    margin: 0 auto;
  }
}
/* .foto_congreso{
max-height: 310px ;
max-width: 0 auto ;
} */
.card{
  background-color:rgb(182, 200, 204);
}