.carousel{
    max-width: 40% !important;
    max-height: 40% !important;
    margin: 0 auto;
    
  }
  .carousel-item{
     object-fit: cover;
   
  }
  .audio{
  text-align: center;
  
  }
  .exp{
   min-height: 65vh;
  }