@media screen and (max-width: 1023px) {

    .estilo-index{
        display: flex;
        width: 100%;
        flex-direction: column;
                &__texto{
                    height: 350px;
                    color:rgb(5, 15, 23) ;
                    font-size: medium;
                    padding-top: 0;
                    background-size: cover;
                    line-height: normal;
                
                    }
                }
.presentaciones{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
        }
.nuevaspropuestas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    min-height: 50vh;
    margin: 0 auto;


   
}
.tarjetitas{
    margin: 5px 2px 5px 2px;
        img{
            @include sizes (90%, 90%)
        }
       div{
        margin: .5rem;
        text-align: center;
        padding: 2rem;
       }

    }

.carousel{
    max-width: 60% !important;
    max-height: 60% !important;
    margin: 0 auto;
                    
                  }
}   

@media screen and (max-width: 599px ){


.propiedades-header {
    height:180px;
    }

    .menu-nav{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        line-height: normal;
        gap: auto;
        margin-top: 20px;
    }

.estilologo{
        align-items: center;
        justify-content: center;
    }


.estilo-index{
    display: flex;
    width: 100%;
    flex-direction: column;
       
       &__texto{
            height: 400px;
            color:rgb(5, 15, 23) ;
            font-size: large;
            font-weight:normal ;
            padding-top: 0px;
            background-size: cover;
            line-height:1.5;
            
                    }
                }

.titulo_sentires{
        font-weight: bolder;
        }

        .quienessomos__foto{
            img{
                @include sizes (250px, 250px);
                           }
        }

.formulario{
    max-width:90%;
    margin: 0 auto; 
            }


 .nuevaspropuestas{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(4, 350px);
     min-height: auto;
 }

.tarjetitas{
    justify-content: center;
    align-content: center;

        img{
            justify-content: center;
            align-content: center; 
        }

        
     
        div{
            justify-content: center;
            align-content: center; 
            
        }
    }

.carousel{
    max-width: 60% !important;
    max-height: 90% !important;
    margin: 0 auto;
    }
.fotitos{
    @include sizes (100%, 100%);
    margin: 0 auto;
}
}

@media  (min-width:1024px) and (max-width:1180px){

.estilo-index__texto{
        padding-top: 20px;
     }

.carousel{
    max-width: 60% !important;
    max-height: 60% !important;
    margin: 0 auto;
    
    }
}


@media (min-width:600px) and (max-width: 800px) {}
