@media screen and (max-width: 1023px) {

    .estilo-index{
        display: flex;
        width: 100%;
        flex-direction: column;
                &__texto{
                    height: 350px;
                    color:rgb(5, 15, 23) ;
                    font-size: medium;
                    padding-top: 0;
                    background-size: cover;
                    line-height: normal;
                
                    }
                }
.presentaciones{
    flex-direction: column;
    justify-content: center;
    align-items: center;
        }

.estilo-propuestas{
    width:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
            }

.formulario{
    max-width: 70%;
    margin: 0 auto; 
    }

.carousel{
    max-width: 60% !important;
    max-height: 60% !important;
    margin: 0 auto;
                    
                  }
}   

@media screen and (max-width: 599px ){


.propiedades-header {
    height:180px;
    }

    .menu-nav{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        line-height: normal;
        gap: auto;
        margin-top: 20px;
    }

.estilologo{
        align-items: center;
        justify-content: center;
    }


.estilo-index{
    display: flex;
    width: 100%;
    flex-direction: column;
       
       &__texto{
            height: 400px;
            color:rgb(5, 15, 23) ;
            font-size: large;
            font-weight:normal ;
            padding-top: 0px;
            background-size: cover;
            line-height:1.5;
            
                    }
                }

.titulo_sentires{
        font-weight: bolder;
        }

        .quienessomos__foto{
            img{
                @include sizes (250px, 250px);
                           }
        }

.formulario{
    max-width:90%;
    margin: 0 auto; 
            }



.estilo-propuestas{
    width: auto;
    display: grid;
    border: none;
    grid-template-columns: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;


        &__fotos{
            width: 90% ;
            margin: 0 auto;
                }
    }

.carousel{
    max-width: 60% !important;
    max-height: 90% !important;
    margin: 0 auto;
    }
}

@media  (min-width:1024px) and (max-width:1180px){
 .estilo-propuestas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
     }   
     .estilo-index__texto{
        padding-top: 20px;
     }

.carousel{
    max-width: 60% !important;
    max-height: 60% !important;
    margin: 0 auto;
    
    }
}

@media (min-width:600px) and (max-width: 800px) {
    .estilo-propuestas{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        
                &__fotos{
                    width: 80% ;
                    margin: 0 auto;
                        }
            }
}
