.nuevaspropuestas{
    flex-direction: row;
    min-height: 60vh;
 }
 .tarjetitas{
   @include sizes (25%, 25%); 
   position: relative;
   transition: all .3s;
  
        img{
            @include sizes (300px, 300px);
            border-radius: 1rem;
            border: solid 2px white;
            margin: 1rem;
            justify-content:center;
            position: absolute;
            z-index: 1;
            
   }
        
        div{  
            position: absolute;
            z-index: 2;
            padding: 15px 15px 0px;    
            width: 300px;
            margin: 0 15px;    
            opacity: 0;    
                        
        h3{
            text-align: center;
            
      
       }
        p{
           text-align: center;
              
       }
}
}
.tarjetitas:hover{
   transform: scale(1.05);
   div{
       opacity: 1;
   }
   img{
       opacity: 25%;
   }
}












// .estilo-propuestas{
//     display: grid;
//     padding: 1rem;
//     gap: 1rem;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: auto;
//     justify-items: center;
//     overflow: hidden;
//     border-top: 1px solid white;
//     border-bottom: 1px solid white;
//     width: 100%;
    
    
    
//         &__fotos {
//             @include sizes (350px, 350px);
//                 gap: 5px;
//                 margin: 5px;
//                 border-radius: 1rem;
//                 overflow: hidden;
//                 border: 1px solid white;
//                 transition:all 1s;
//                   }
                
//                     &__fotos:hover{
//                         transform: scale(1.15);
//                         opacity: 50%;
             
//                     }
//                 }
                
// .fotitos{
//     @include sizes (100%, 375px);
//      margin: 0 auto;
// }                