.estilo-propuestas{
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    
    
    
        &__fotos {
            @include sizes (350px, 350px);
                gap: 1rem;
                margin: 1rem;
                border-radius: 1rem;
                overflow: hidden;
                border: 1px solid white;
                transition:all 1s;
                  }
                
                    &__fotos:hover{
                        transform: scale(1.15);
                    }
                }
                