.nuevaspropuestas{
    display: grid;
    grid-template-columns:repeat( 4, 1fr); 
    grid-template-rows: auto;
    min-height: 50vh ;
    margin-top: 1rem;
    margin: 0 auto;
 }
 .tarjetitas{
   justify-content: center; 
   position: relative;
   transition: all .3s;

   
  
        img{
           @include sizes (90% ,80%);
            border-radius: 1rem;
            border: solid 2px white;
            margin: 1rem;
            position: absolute;
            z-index: 1;
            align-items: center;
            
   }
        
        div{  
            position: absolute;
            z-index: 2;
            padding: 15px 15px 0px;    
            // margin: 2 rem;    
            opacity: 0;    
                        
        h4{
            text-align: center;
            margin-top: 2rem;
            
      
       }
        p{
           text-align: center;
         
       }
}
}
.tarjetitas:hover{
   transform: scale(1.05);
   div{
       opacity: 1;
   }
   img{
       opacity: 15%;
   }
}












// .estilo-propuestas{
//     display: grid;
//     padding: 1rem;
//     gap: 1rem;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: auto;
//     justify-items: center;
//     overflow: hidden;
//     border-top: 1px solid white;
//     border-bottom: 1px solid white;
//     width: 100%;
    
    
    
//         &__fotos {
//             @include sizes (350px, 350px);
//                 gap: 5px;
//                 margin: 5px;
//                 border-radius: 1rem;
//                 overflow: hidden;
//                 border: 1px solid white;
//                 transition:all 1s;
//                   }
                
//                     &__fotos:hover{
//                         transform: scale(1.15);
//                         opacity: 50%;
             
//                     }
//                 }
                
// .fotitos{
//     @include sizes (100%, 375px);
//      margin: 0 auto;
// }                