

.quienessomos{
    width: 100%;
    text-align: center;
    padding: 1rem;
    
    
    
    &__foto{
        img{
        @include sizes (450px, 450px);
        border-radius: $imagenCircular;
        overflow: hidden;
        border: 1px solid white;
        object-fit: cover;
        transition: all 1s;
        }
        
        }
    
          
    &__foto{
        img:hover{
        content:url(../imagenes/roxaycynenlaplaya.jpg);    
        }
                   
    }
    &__titulos{
        text-transform: uppercase;
    }
    &__texto{
        text-align: justify;
        padding-right: 3rem;
        padding-left: 3rem;
        color: rgb(40, 24, 3);
        
    }
}
    