

.quienessomos{
    text-align: center;
    padding: 1rem;
      
    &__titulos{
        text-transform: uppercase;
    }
    &__texto{
        text-align: justify;
        margin: 20px 2px;
        padding: 10px;
        color: $colorParrafos;
     
        
    }
}
.presentaciones{
    img{
    @include sizes (350px, 350px);
    border-radius: 2rem;
    margin: 0 auto;
    padding-top: 1rem;
}

}


    